mat-toolbar {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sunflower', sans-serif;
}

.mb {
  margin-bottom: 0.5rem;
}

.mt {
  margin-top: 0.5rem;
}

table {
    width: 40%;
}

th {
    text-align: left;
}