<mat-toolbar color="default">
  Available currencies
</mat-toolbar>

<mat-divider class="mb mt"></mat-divider>

<div>

  <mat-form-field>
    <input matInput placeholder="Search lessons" (keyup)="keyChanged($event.target.value)">
  </mat-form-field>
  
  <mat-form-field>
    <mat-select 
      placeholder="Filter on" 
      (selectionChange)="attributeChanged($event.value)" 
      value="search">
      <mat-option 
        *ngFor="let option of searchOptions" 
        [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div [hidden]="!loading" class="loader">
  Loading...
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-divider></mat-divider>

<div *ngIf="currenciesNumber != undefined">

  <mat-paginator [ngStyle]="{'display': loading ? 'none' : '' }"
    [length]="currenciesNumber" 
    [pageSize]="10" 
    [showFirstLastButtons]="true" 
    [pageSizeOptions]="[10, 50, 100]" 
    (page)="pageChanged()">
  </mat-paginator>


</div>

<mat-grid-list #grid cols="6" [ngStyle]="{'display': loading ? 'none' : '' }">

  <mat-grid-tile *ngFor="let currency of currencies" (click)="moveToDetails(currency.id)">

    <app-one-currency [currency]="currency"></app-one-currency>

  </mat-grid-tile>

</mat-grid-list>